main {
   padding-top: 92px;
}

body{
    margin: 0;
    padding: 0;
}  

h1{
    background-color: blue;
    color: white;
    text-align: center;
}

header {
    margin: 0;
    padding: 0;
    border: none;
}


aside {
    margin: 0;
}

section {
    padding-top: 92px;
}


footer{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    width: 100%; /* Asegura que el footer abarque todo el ancho */
}

.container {
    padding-top: 30px; /* La altura del header */
}

.navegacion{
    display: flex;
    justify-content: space-between;
}
.nav-link{
    color: white;
    text-decoration: none;
}
.logo{
    font-size: 32px;
    font-weight: bold;
    font-family: cursive;
    padding: 0 40px;
    line-height: 92px;
}
.nav-menu{
    display: flex;
    margin-right: 40px;
    list-style: none;   
}
.nav-menu-item{
    font-size: 20px;
    margin: 0 10px;
    line-height: 92px;
}
.nav-menu-link{
    background-color: #cccccc;
    padding: 10px;
    border-radius: 10px;
}

.nav-menu-link:hover{
    background-color: black;
}