<!DOCTYPE html>
<!--HTML Dinamica-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <title>TechShop</title>
        <meta charset="UTF-8"/>
    </head>
    
    <body>

        <header th:replace="~{layout/plantilla :: header}">
        </header>

        <button type="button" class="btn btn-primary">Primary</button>
        
        <footer th:replace="~{layout/plantilla :: footer}">
            TechShop Derechos Reservados 2027 &COPY;
        </footer>
    </body>
</html>
