<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Registro</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>
<!-- Header -->
<header th:replace="~{layout/plantilla :: header}"></header>

    <!-- Contenido principal -->
    <div class="container mt-4">

        <h1>Registro de Usuario</h1>

        <form th:action="@{/usuarios/registro}" th:object="${usuario}" method="post">
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" th:field="*{nombre}" />

            <label for="correo">Correo:</label>
            <input type="correo" id="correo" th:field="*{correo}" />

            <button type="submit">Registrar</button>
        </form>

        <!-- Mostrar mensajes de éxito o error -->
        <div th:if="${mensaje}" class="alert alert-success">
            <p th:text="${mensaje}"></p>
        </div>

        <div th:if="${error}" class="alert alert-danger">
            <p th:text="${error}"></p>
        </div>
    </div>

    <!-- Footer -->
    <footer th:replace="~{layout/plantilla :: footer}"></footer>
</body>
</html>
